{% extends 'front/layout.html.twig' %}


{% block top_bar %}
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      {{ customManager.phone|raw }}
      {{ customManager.calendar|raw }}
    </div>

  </div>
</div>
{% endblock %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">

<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

  <h1 class="logo me-auto me-lg-0"><a href="{{path('user_index')}}">Restaurantly</a></h1>

  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="front/assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        {% for link in links['header'] %}
           <li><a class="nav-link scrollto {% if loop.index == 1%}active{%endif%}" href="{{ link.href }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

  {% if app.user is defined and app.user is not null %}
    <span>Bienvenido <b>{{ app.user.username }}</b></span>
  {% else %}
  <a href="{{ path('app_login') }}" class="book-a-table-btn scrollto d-none d-lg-flex">Entrar</a>
  {% endif %}

</div>
</header><!-- End Header -->
{% endblock %}

{% block hero %}
    {{ parent() }}
{% endblock %}


{% block main %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Mi pedido</h2>
                <ol>
                    <li><a href="{{ path('user_index') }}">Home</a></li>
                    <li>Cesta de la compra</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
        {% if cart is defined and cart is not empty %}
        <table class="table table-light">
        <thead>
            <tr>
                <th> Muestra </th>
                <th> Plato </th>
                <th> Precio (ud) </th>
                <th> Descuento </th>
            </tr>
        </thead>
        <tbody>

        {% set total_order = 0.00 %}
        {% for row in cart %}
        {% set dish = row.dishId|dish %}
        {% set prize = dish.prize * row.quanty %}
        <tr>
            <td> <img style="border:1px solid black" src=" {{  asset('uploads/dish_photo/' ~ dish.photo )|imagine_filter('square') }}" alt="{{ dish.name}}-foto" /></td>
            <td> <label><b>{{ dish.name }}</b>
                    <input data-dish-id="{{ dish.id }}" type="number" value="{{ row.quanty }}" min="1" size="3" pattern="\d*" onKeyDown="if(this.value.length==2) return false;">
                    <a href="{{ path('del_dish_to_cart', {'dishId': dish.id }) }}"><i class="bi bi-x-octagon" style="cursor:pointer;"></i></a>
                </label></td>
            <td> <b>{{ prize }} €</b> </td>
            <td> <b>{{ row.dto }} % {% if row.dto > 0 %}( debes utilizar el código de promoción ){% endif %}</b> </td>
        </tr>
        {% set total_order = total_order + prize-( prize * row.dto / 100 ) %}
        {% endfor %}
        <tr><td colspan="4">Total pedido: <b>{{ total_order|round(2) }}</b> €</td></tr>
        <tr><td colspan="4">Aplicar código de descuento: <input type="text" name="code-promotion"></td></tr>
        <tr><td colspan="4"><a href="{{ path('order_create') }}"><button class="btn btn-primary">Ir a Pagar</button></a></td></tr>
        </tbody>
        </table>

        {% else %}
            <span>Cesta vacía . Ir a <a href="{{ path('user_index') }}">catálogo</a> para comprar</span>
        {% endif %}
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}

{% block scripts %}
    <!--[if gte IE 9]><!-->
    <script src="{{ asset('back/assets/plugins/jQuery/jquery-2.1.1.min.js') }}"></script>
    <!-- fos-js-routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function(){
            $('table input[type="number"]').on('change',function(){
                let quanty = $(this).val();
                let dishId = $(this).data('dish-id');

                location.href = Routing.generate('update_dish_to_cart', {'dishId' : dishId , 'quanty': quanty });
            });
        })
    </script>
{% endblock %}