{% extends 'front/layout.html.twig' %}


{% block top_bar %}
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-center justify-content-md-between">

            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
                <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
            </div>

            <div class="languages d-none d-md-flex align-items-center">
                <ul>
                    <li>En</li>
                    <li><a href="#">De</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="front/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
                    <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
                    <li><a class="nav-link scrollto" href="#events">Events</a></li>
                    <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>

        </div>
    </header><!-- End Header -->
{% endblock %}

{% block hero %}

{% endblock %}


{% block main %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Mi pedido</h2>
                <ol>
                    <li><a href="{{ path('user_index') }}">Home</a></li>
                    <li>Cesta de la compra</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
        {% if cart is defined and cart is not empty %}
        <table class="table table-light">
        <thead>
            <tr>
                <th> Muestra </th>
                <th> Plato </th>
                <th> Precio (ud) </th>
                <th> Descuento </th>
            </tr>
        </thead>
        <tbody>

        {% set total_order = 0 %}
        {% for row in cart %}
        {% set dish = row.dishId|dish %}
        {% set prize = dish.prize * row.quanty %}
        <tr>
            <td> <img style="border:1px solid black" src=" {{  asset('uploads/dish_photo/' ~ dish.photo )|imagine_filter('square') }}" alt="{{ dish.name}}-foto" /></td>
            <td> <label><b>{{ dish.name }}</b>
                    <input data-dish-id="{{ dish.id }}" type="number" value="{{ row.quanty }}" min="1" size="3" pattern="\d*" onKeyDown="if(this.value.length==2) return false;">
                    <a href="{{ path('del_dish_to_cart', {'dishId': dish.id }) }}"><i class="bi bi-x-octagon" style="cursor:pointer;"></i></a>
                </label></td>
            <td> <b>{{ prize }} €</b> </td>
            <td> <b>{{ row.dto }} %</b> </td>
        </tr>
        {% set total_order = total_order + prize - ( prize * row.dto / 100 )%}
        {% endfor %}
        <tr><td colspan="4">Total pedido: <b>{{ total_order }}</b> €</td></tr>
        <tr><td colspan="4">Descuento aplicado: <b>--</b> €</td></tr>

        </tbody>
        </table>
        {% else %}
            <span>Cesta vacía . Ir a <a href="{{ path('user_index') }}">catálogo</a> para comprar</span>
        {% endif %}
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}

{% block scripts %}
    <!--[if gte IE 9]><!-->
    <script src="{{ asset('back/assets/plugins/jQuery/jquery-2.1.1.min.js') }}"></script>
    <!-- fos-js-routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function(){
            $('table input[type="number"]').on('change',function(){
                let quanty = $(this).val();
                let dishId = $(this).data('dish-id');

                location.href = Routing.generate('update_dish_to_cart', {'dishId' : dishId , 'quanty': quanty });
            });
        })
    </script>
{% endblock %}