{% macro print(order) %}
<tr>
    <th class="center">{{ order.state|state|raw }}</th>
    <th class="center"><button class="btn {{ order.state|buttonState|raw }}">{{ order.state }}</button></th>
    <th>{{ order.createdAt|date }}</th>
    <th class="hidden-xs">{{ order.total }} &euro;</th>
    <th class="hidden-xs"><a href="{{ path('admin_order_show',{ 'orderId': order.id }) }}"><i class="fa fa-2x fa-eye"></i></a></th>
    <th class="hidden-xs">
        {% if order.state == 'received' %}
            <a href="{{ path('order_workflow_pending', { 'id' : order.id }) }}">Recoger</a>
            <a href="{{ path('order_workflow_canceled', { 'id' : order.id }) }}">Cancelar</a>
        {% elseif order.state == 'pending' %}
            <a href="{{ path('order_workflow_on_travel', { 'id' : order.id }) }}">Preparando el pedido</a>
        {% elseif order.state == 'on_travel' %}
            <a href="{{ path('order_workflow_delivered', { 'id' : order.id }) }}">Espera de entrega a cliente</a>
        {% elseif order.state == 'delivered' %}
            <span>{{ order.state }}</span>
        {% else %}
            <span>{{ order.state }}</span>
        {% endif %}
    </th>
    <th></th>
</tr>
{% endmacro %}