{% macro print_row(dish) %}
    <tr>
        <td class="center">
            <div class="checkbox-table">
                <label>
                    <input type="checkbox" class="flat-grey foocheck">
                </label>
            </div></td>
        <td class="center">
            <img onerror="this.src='{{ asset('back/assets/images/no-photo.png')|imagine_filter('square') }}';"
                src="{{ asset('uploads/dish_photo/' ~ dish.photo )|imagine_filter('square') }}"
                alt="foto-plato" />
        </td>
        <td>{{ dish.name }}</td>
        <td class="hidden-xs">{{ dish.shortDescription }}</td>
        <td class="hidden-xs"><b>{{ dish.prize }} €</b></td>
        <td class="hidden-xs">{{ dish.published|active|raw }}</td>
        <td class="hidden-xs">
            <a href="{{ path('admin_dish_edit',  { 'id': dish.id } ) }}" class="btn btn-xs btn-grey tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-search"></i></a>
            <a data-id-dish="{{ dish.id }}" class="del-action btn btn-xs btn-red tooltips" href="javascript:void(0);" style="cursor:pointer;" data-placement="top" data-original-title="Eliminar registro"><i class="fa fa-times fa fa-white"></i></a>
        </td>
    </tr>
{% endmacro %}