{% extends 'front/layout.html.twig' %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('back/assets/js/izi-modal/css/iziModal.min.css') }}">
  <style>
    .number {
      position:absolute;
      font-size:9px;
      text-align:center;
      right:0;
      top:35px;
      width:15px;
      height: 15px;
      border-radius:50%;
      background-color: green;
      font-weight: bold;
      display: none;
    }
    .go-to-cart{
      width:120px;
      margin-top:15px;
      text-align: right;
      display: inline-block;
    }
    #hero {
      width: 100%;
      height: 100vh;
      background: url('{{asset('uploads/manager/' ~ customManager.photoMain )}}') top center ;
      background-size: cover;
      position: relative;
      padding: 0;
    }
  </style>
{% endblock %}
{% block top_bar %}
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      {{ customManager.phone|raw }}
      {{ customManager.calendar|raw }}
    </div>

  </div>
</div>
{% endblock %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">

<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

  <h1 class="logo me-auto me-lg-0"><a href="{{path('user_index')}}">Restaurantly</a></h1>

  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="front/assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        {% for link in links['header'] %}
           <li><a class="nav-link scrollto {% if loop.index == 1%}active{%endif%}" href="{{ link.href }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

  {% if app.user is defined and app.user is not null %}
    <span>Hola <b>{{ app.user.username }} - <a href="{{path('app_logout')}}">salir</a></b></span>
  {% else %}
  <a href="{{ path('app_login') }}" class="book-a-table-btn scrollto d-none d-lg-flex">Entrar</a>
  {% endif %}

</div>
</header><!-- End Header -->
{% endblock %}

{% block hero %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Bienvenido a <span>Restaurantly</span></h1>
        <h2>Haciendo feliz a la gente desde hace 5 años</h2>

        <div class="btns">
          <a href="#menu" class="btn-menu animated fadeInUp scrollto">Nuestro menu</a>
          <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Reservar mesa</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
      </div>

    </div>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block main %}
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="{{ asset('uploads/manager/' ~ customManager.photoDescription)  }}" alt="photo-description">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
           {{ customManager.description|raw }}
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Menu</h2>
        <p>Prueba nuestro menu</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            {% for category in categories  %}
              <li data-filter=".filter-{{ category.name }}">{{ category.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        {% for category in categories  %}
          {% for dish in category.dish %}
            <div class="col-lg-6 menu-item filter-{{ dish.category.name }}">
              <img src="{{ asset('uploads/dish_photo/' ~ dish.photo) }}" class="menu-img" alt="{{ dish.name }}-foto">
              <div class="menu-content">
                <a href="#">{{ dish.name }}</a><span>{{ dish.prize }} €</span>
              </div>
              <div class="menu-ingredients">
                <button type="submit" data-dish-id="{{ dish.id }}">Añadir</button> {{ dish.shortDescription }}
              </div>
            </div>
          {% endfor %}
        {% endfor %}

      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Especiales</h2>
        <p>Prueba nuestros especiales</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            {% for dish in specials %}
              <li class="nav-item">
                <a class="nav-link {% if loop.index == 1 %}active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ loop.index }}">
                  {{ dish.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">

          
             <!-- begin row-special -->
            {% for dish in specials %}
            <div class="tab-pane {% if loop.index == 1%}active show{%endif%}" id="tab-{{ loop.index }}">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{ dish.name }} {{ dish.prize }}&euro;</h3>
                  <p>{{ dish.shortDescription }}</p>
                  <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{ asset('uploads/dish_photo/' ~ dish.photo )|imagine_filter('portrait') }}" alt="{{ dish.name }}-photo" class="img-fluid">
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- end row-special -->
            
            
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Eventos</h2>
        <p>Organiza tus eventos en el restaurante</p>
      </div>

      <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          {% import 'macros/public/events/event.html.twig' as e %}
          {% for event in events  %}
              {{ e.print(event) }}
          {% endfor %}


        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Events Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Reserva</h2>
        <p>Reserva una mesa</p>
      </div>

      <form action="{{ path('user_book') }}" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Por favor, introduce al menos 4 caracteres">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" data-rule="email" data-msg="Por favor, introduce un email válido">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Tu numéro de teléfono" data-rule="minlen:4" data-msg="Por favor, introduce al menos 4 caracteres">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" name="date" class="form-control" id="date" placeholder="Día" data-rule="minlen:4" data-msg="Por favor, introduce al menos 4 caracteres">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" class="form-control" name="time" id="time" placeholder="Hora" php-email-form="minlen:4" data-msg="Por favor, introduce al menos 4 caracteres">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="number" class="form-control" name="people" id="people" placeholder="Total personas" data-rule="minlen:1" data-msg="Por favor, introduce al menos 1 caracter">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Sugerencias"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Tu reserva ha sido enviada. Se te ha enviado el recibo por email. Una vez confirmada, te enviaremos un email</div>
        </div>
        <div class="text-center"><button type="submit">Reservar mesa</button></div>
      </form>

    </div>
  </section><!-- End Book A Table Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonios</h2>
        <p>Lo que dicen de nosotros</p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
        
          {% import 'macros/public/testimonials/testimonials.html.twig' as t %}
          {% for testimonial in testimonials  %}
              {{ t.print(testimonial) }}
          {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Galería de fotos</h2>
        <p>algunas fotos de nuestro restaurante</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        {% import 'macros/public/gallery/gallery.html.twig' as g %}
        {% set imagesForShow = show_photo_gallery(images) %}
          {% for image in imagesForShow  %}
              {{ g.print(image) }}
          {% endfor %}


      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Chefs</h2>
        <p>Nuestros magníficos chefs</p>
      </div>

      <div class="row">
        {% import 'macros/public/chefs/chef.html.twig' as ch %}
        {% for chef in chefs %}
          {{ ch.print(chef) }}
        {% endfor %}
      </div>

    </div>
  </section><!-- End Chefs Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto</h2>
        <p>Dónde estamos</p>
      </div>
    </div>

    <div data-aos="fade-up">
      {{ customManager.googleMapsFrame|raw }}
    </div>

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localización:</h4>
              <p>{{ customManager.location }}</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Horario:</h4>
              <p>
                {{ customManager.openHour }}
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{ customManager.email }}</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Tlf:</h4>
              <p>{{ customManager.callPhone }}</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{{ path('user_contact') }}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias! te contestaremos lo más rápido posible</div>
            </div>
            <div class="text-center"><button type="submit">Enviar mensaje</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  <div id="modal" data-iziModal-group="alert"></div>
  <div id="modal-response" data-iziModal-group="alert"></div>
</main><!-- End #main -->
{% endblock %}

{% block scripts %}
<!--[if gte IE 9]><!-->
<script src="{{ asset('back/assets/plugins/jQuery/jquery-2.1.1.min.js') }}"></script>
<!-- fos-js-routing -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- izi-modal-->
<script src="{{ asset('back/assets/js/izi-modal/js/iziModal.min.js') }}"></script>
<script>
  $(document).ready(function(){

     $('.menu-item button[type="submit"]').on('click', function(){
       let id = $(this).data('dish-id');
       $.post( Routing.generate('add_dish_to_cart', { id_dish: id } ) , function( response ) {
          console.log(response);
          if(response.code === 403) {
            location.href = Routing.generate('user_register',true);
          } else if(response.code === 200) {

            let number = $('.number');
                number.show();
                number.html( response.data.quantity );
            let cart = Routing.generate('cart',true);
            let modal = $("#modal").iziModal({
              title: "Añadido <a style=\"color:white\" href=" + cart + " target=\"_self\"><i class=\"bi bi-eye\"></a></i>",
              subtitle: 'has añadido un plato a tu pedido',
              icon: 'icon-power_settings_new',
              headerColor: '#008926',
              background: '#008926',
              width: 600,
              timeout: 5000,
              timeoutProgressbar: true,
              transitionIn: 'fadeInDown',
              transitionOut: 'fadeOutDown',
              pauseOnHover: true
            });
            modal.iziModal('open');
          }
       });
     });
  })
</script>
{% for message in app.flashes('success_survey') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'La revisaremos, y será publicada en la portada.',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('success_register') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Le llegará un enlace para poder activar su cuenta de usuario y utilizar nuestros servicios',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('success_reset') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Le llegará un enlace para poder actualizar su contraseña de acceso',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('success_change') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Puede identificarse de nuevo con la nueva clave',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('success_confirmed') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Estamos encantados de volver a verle.',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('success_order') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Recibirá otro email cuando el repartidor salga del restaurante.',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% for message in app.flashes('fail_order') %}
  <script>
    $(document).ready(function() {
      let modal = $("#modal-response").iziModal({
        title: '<i class="bi bi-bookmark-check"></i> {{ message }}',
        subtitle: 'Inténtelo más tarde, o consulte con el administrador.',
        icon: 'icon-power_settings_new',
        headerColor: '#008926',
        background: '#008926',
        width: 600,
        timeout: 5000,
        timeoutProgressbar: true,
        transitionIn: 'fadeInDown',
        transitionOut: 'fadeOutDown',
        pauseOnHover: true
      });
      modal.iziModal('open');
    });
  </script>
{% endfor %}
{% endblock %}