<!-- start: TOPBAR -->
<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
    <!-- start: TOPBAR CONTAINER -->
    <div class="container">
        <div class="navbar-header">
{#            <a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">#}
{#                <i class="fa fa-bars"></i>#}
{#            </a>#}
            <!-- start: LOGO -->
            <a class="navbar-brand" href="{{ path('admin_user_index')}}">
                <img src="{{ asset('back/assets/images/logo.png') }}" alt="logo"/>
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="topbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                        <img src="https://png.pngtree.com/png-vector/20190501/ourmid/pngtree-users-icon-design-png-image_1014936.jpg" width="32" class="img-circle" alt=""> <span class="username hidden-xs">Peter Clark</span> <i class="fa fa-caret-down "></i>
                    </a>
                    <ul class="dropdown-menu dropdown-dark">
                        <li>
                            <a href="{{ path('admin_user_edit',  { 'id': app.user.id } ) }}">
                                Mi perfil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contact_form') }}">
                                Mis mensajes
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: USER DROPDOWN -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOPBAR CONTAINER -->
</header>
<!-- end: TOPBAR -->