<nav id="pageslide-left" class="pageslide inner">
    <div class="navbar-content">
        <!-- start: SIDEBAR -->
        <div class="main-navigation left-wrapper transition-left">
            <div class="navigation-toggler hidden-sm hidden-xs">
                <a href="#main-navbar" class="sb-toggle-left">
                </a>
            </div>
            <div class="user-profile border-top padding-horizontal-10 block">
                <div class="inline-block">
                    <img src="https://png.pngtree.com/png-vector/20190501/ourmid/pngtree-users-icon-design-png-image_1014936.jpg" alt="avatar-user" width="64">
                </div>
                <div class="inline-block">
                    <h5 class="no-margin"> Bienvenido! </h5>
                    <h4 class="no-margin"> {{ app.user.username }} </h4>
                </div>
            </div>
            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu">
                <li class="active open">
                    <a href="javascript:void(0);"><i class="fa fa-home"></i> <span class="title">Administración</span> </a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-user"></i> <span class="title">Usuarios</span><i class="icon-arrow"></i> </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('admin_user_new') }}">
                                <span class="title">Nuevo usuario</span>
                            </a>
                        </li>
                        <li>
                            <a href="layouts_sidebar_not_fixed.html">
                                <span class="title"><a href="{{ path('admin_user_index') }}">Administrar</a> </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{path('admin_category')}}"><i class="fa fa-puzzle-piece"></i> <span class="title">Categorías</span></a></li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-user"></i> <span class="title">Eventos</span><i class="icon-arrow"></i> </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('admin_event_new')}}">
                                <span class="title">Nuevo Evento</span>
                            </a>
                        </li>
                        <li>
                            <a href="layouts_sidebar_not_fixed.html">
                                <span class="title"><a href="{{ path('admin_event_index') }}"> Administrar</a> </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('custom_manager') }}"><i class="fa fa-mercury"></i> <span class="title"> Manager </span> </a></li>
                <li><a href="{{ path('admin_book') }}"><i class="fa fa-pencil-square-o"></i> <span class="title"> Reservas Mesa </span> </a></li>
                <li><a href="{{ path('admin_order_review') }}"><i class="fa fa-history"></i> <span class="title"> Historial Pedidos  </span> </a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-mercury"></i> <span class="title"> Promociones <i class="icon-arrow"></i> </span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('admin_promotions_add') }}">
                                <span class="title"> Nueva promoción </span>
                            </a>
                        </li>
                        <li>
                            <a href="layouts_sidebar_not_fixed.html">
                                <span class="title"><a href="{{ path('admin_promotions') }}"> Promociones activas</a> </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-star"></i> <span class="title"> Valoraciones Usuarios </a></li>
                <li><a href="{{ path('admin_gallery') }}"><i class="fa fa-picture-o"></i> <span class="title"> Galeria  </span> </a></li>
                <li><a href="{{ path('admin_chef_index') }}"><i class="fa fa-instagram"></i> <span class="title"> Chefs </a></li>
                <li><a href="{{ path('admin_links') }}"><i class="fa fa-paperclip"></i> <span class="title"> Enlaces y menus </a></li>
                <li><a href="{{ path('admin_contact_form') }}"><i class="fa fa-envelope"></i> <span class="title"> Contacto </span> </a></li>
            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>
    <div class="slide-tools">
        <div class="col-xs-6 text-right no-padding">
            <a class="btn btn-sm log-out text-right" href="{{ path('app_logout') }}">
                <i class="fa fa-power-off"></i> Cerrar sesión
            </a>
        </div>
    </div>
</nav>