{{ form_start(form) }}
<div class="col-sm-9">
    {{ form_row(form.name) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.job) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.twitter) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.facebook) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.instagram) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.linkedin) }}
</div>
<div class="col-sm-9">
    {{ form_row(form.photo) }}
</div>
<div class="col-sm-9">
    <br>
</div>
<div class="col-sm-9">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}

