{% extends 'back/index.html.twig' %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block page_slide_left %}
    <!-- start: PAGESLIDE LEFT -->
    <a class="closedbar inner hidden-sm hidden-xs" href="#"></a>
    {{ parent() }}
    <!-- end: PAGESLIDE LEFT -->
{% endblock %}

{% block tool_bar %}
      <!-- start: TOOLBAR -->
      <div class="toolbar row">
          <div class="col-sm-6 hidden-xs">
              <div class="page-header">
                  <h1>Chefs</h1>
                  <small>cinco estrellas michelin</small>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12"></div>
      </div>
      <!-- end: TOOLBAR -->
  {% endblock %}

{% block bread_crumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_chef_index') }}">Administración</a></li>
                <li class="active">Nuevo registro</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="panel-body panel-white">
    <!-- start: PAGE CONTENT -->
    <div class="row">
    <div class="col-sm-12">
        <!-- start: TEXT FIELDS PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Añadir nuevo <span class="text-bold">Chef</span></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ include('chef/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock  %}