{% extends 'back/index.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block page_slide_left %}
    <!-- start: PAGESLIDE LEFT -->
    <a class="closedbar inner hidden-sm hidden-xs" href="#"></a>
    {{ parent() }}
    <!-- end: PAGESLIDE LEFT -->
{% endblock %}

  {% block tool_bar %}
      <!-- start: TOOLBAR -->
      <div class="toolbar row">
          <div class="col-sm-6 hidden-xs">
              <div class="page-header">
                  <h1>Control de Acceso <small>Administración de usuarios</small></h1>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12"></div>
      </div>
      <!-- end: TOOLBAR -->
  {% endblock %}

{% block bread_crumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Administración</a></li>
                <li class=""><a href="{{ path('admin_user_index') }}">Usuarios</a></li>
                <li class="active"><a href="javascript:void(0);">Editar usuario</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <!-- start: PAGE CONTENT -->
    <div class="row">
    <div class="col-sm-12">
        <!-- start: TEXT FIELDS PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Editar <span class="text-bold">Usuario</span></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}